@media (max-width:900px){
    html{
        font-size: 50%;
    }
    .navbar-links-div{
        display: none;
    }
    .navbar-links{
        position: absolute;
        top: 60px;
        width: 300px;
        right: 0;
        height: 100vh;
        background:#252934;
        backdrop-filter:blur(15px);
        flex-direction: column;
        align-items: center;
        padding: 4rem 0;
        border-radius: 10px;
    }
    .menu-outline-btn{
        display: block;
    }
}
@media(max-width:400px){
    html{
        font-size: 40%;
    }
    .form-section{
        width: 90%;
    }
}
@media(max-width:700px){
    .about-secondary-box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
    .my-intro-section  .my-skills-section{
      width: 80%;
    }
    .project-box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
    .project-screen-shot .project-descriptions-link-btn{
        width: 90%;
    }
    .form-section{
        width: 80%;
    }
}